.admin-dashboard {
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.admin-navbar {
  display: flex;
  justify-content: space-between;
  background: rgb(125, 124, 124);
  padding: 15px;
  color: white;
  align-items: center;
}

.brand {
  font-size: 1.2em;
  font-weight: bold;
}

.nav-links button {
  color: white;
  margin: 0 10px;
}

.mat-mdc-raised-button:not(:disabled){
  background-color: #c06f6f;
  margin: 5px;
}

.welcome-message {
  font-size: 1.5em;
  margin-top: 20px;
}

h3 {
  margin-top: 30px;
  color: maroon;
}

.controls {
  display: flex;
  align-items: center;
  margin: 10px 0;
  color: aliceblue;
}

.actions {
  margin: 10px 0;
}

table {
  width: 100%;
  margin-top: 10px;
}

mat-paginator {
  margin-top: 20px;
}
