.welcome-container {
  text-align: center;
  margin-top: 20px;
}

.welcome-message {
  font-size: 40px;
  font-weight: bold;
  color: maroon;
}

.trade-message-container {
  text-align: center;
  margin-top: 15px;
}

.trade-message {
  font-size: 26px;
  font-weight: bold;
  color: rgb(251, 249, 249);
}

.sorting-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.sort-dropdown {
  width: 200px;
}

mat-label{
  color: white;
  font-size: larger;
  font-weight: 500;
}

span.mat-mdc-select-value-text {
  color: white !important;
}

span.mad-mdc-select{
  color: aliceblue !important;
}

/* Ensure the dropdown border and label are white */
.sort-dropdown .mat-mdc-form-field-outline {
  color: white !important;
  border-color: white !important;
}

/* Make the dropdown box background white for visibility */
.sort-dropdown .mat-mdc-select {
  background-color: rgb(6, 6, 6) !important;
  color: rgb(247, 244, 244) !important; /* Ensure text inside the box is black for contrast */
  border-radius: 4px; /* Slightly rounded corners for better aesthetics */
}