.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #f9f9f9; /* Dark background to match the theme */
  color: rgb(0, 0, 0);
  border-radius: 10px;
  width: 350px; /* Controlled width */
}

h2 {
  margin-bottom: 20px;
  font-size: 22px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.login-button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}

.success-snackbar {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}

