.navbar {
  display: flex;
  gap: 20px;
  background: #606060;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.mat-mdc-button:not(:disabled) {
    color: rgb(126, 3, 3);
}

.nav-btn {
  font-weight: bold;
  color: #faf9f9; 
}

.logout-btn {
  margin-left: auto;
  font-weight: bold;
  color: #faf9f9;
}
