.reports-container {
  width: 90%;
  margin: auto;
  text-align: center;
}

table {
  width: 100%;
  margin: 20px 0;
}

th {
  background-color: maroon;
  color: rgb(12, 12, 12);
  text-align: left;
  padding: 10px;
}

td {
  padding: 10px;
  text-align: left;
}

.profit {
  color: green;
  font-weight: bold;
}

.loss {
  color: red;
  font-weight: bold;
}
